[Desktop Entry]
Name=ROX-Load
Comment=Displays the load average of Your system
Comment[pl]=Wyświetla średnie obciążenie Twojego systemu
Exec=/usr/lib/rox/Load/AppRun
Icon=rox-Load
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
# vi: encoding=utf-8